{
  "$schema": "https://json.schemastore.org/tsconfig",
  "display": "Node 16",
  "compilerOptions": {
    "noEmit": true,
    "allowJs": true,
    "checkJs": true,
    "target": "ES2022",
    "module": "ES2022",
    "lib": ["ES2019"],
    "esModuleInterop": true,
    "isolatedModules": true,
    "moduleResolution": "node",
    "emitDecoratorMetadata": false,
    "experimentalDecorators": false,
    "strict": true,
    "alwaysStrict": true,
    "allowUnreachableCode": true,
    "allowUnusedLabels": true,
    "noImplicitAny": false,
    "noImplicitReturns": true,
    "resolveJsonModule": true,
    "declaration": true,
  },
  "exclude": [
    "node_modules/*",
    "node_modules/**/*",
    "_generators/*",
    "_generators/**/*",
  ]
}